calmap
tweepy
pandas
geopy
tqdm
country_converter
pandarallel
swifter
seaborn
shapely
geopandas
cython
geoplot
folium
plotly
matplotlib
iso3166
pymongo
wordcloud
textblob
covid_daily
bs4
strsim
scipy
twarc
fasttext
tensorflow_hub
gensim
